:root {
  --bg-color: #EDFFCA;
  --inverted-bg-color: #090949;
  --primary-color: #4b5980;
  --secondary-color: #801c2e;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
  --red-light: #FF6148;
  --red-dark: #8B050F
}

